*.asv
._.DS_Store
.DS_Store
.vscode
*.exe
*.o
project
addons/libRoadrunner/roadrunner/
addons/libRoadrunner/roadrunner-*.zip
addons/PhysiBoSS/MaBoSS/
addons/PhysiBoSS/libMaBoSS-*.tar.gz
config/PhysiCell_settings-backup.xml
Makefile-backup
output/
studio/
user_projects/
sample_projects_intracellular/
tests/
unit_tests/
protocols/
povray/
output_*/
examples/
__MACOSX/
documentation/
documentation-deprecated/
pmb_debug.log
studio_debug.log
Studio.zip
*.tar.gz

